/* input color variables */
:root {
    --dark: black;
    --light: #ffffffe5;
    --primary: rgba(255, 255, 255, 0.596);
}
/* universal style */
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    font-size: 16px;
    color: var(--dark);
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#favouritesBtn {
    display: none;
}